@model ProjectoEsw.Models.Identity.Perfil;


@section links {
    <a asp-area="" asp-controller="Candidato" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>
    <a asp-area="" asp-controller="Candidato" asp-action="perfil" class="btn btn-link btn-xs pull-right"> @Html.DisplayFor(model => model.Email) </a>
}
@section Home {
    <a asp-area="" asp-controller="Candidato" asp-action="Index">Home</a>
}
<div class="jumbotron col-sm-8">
    <h2 class=" text-center">Perfil do Candidato</h2>
    <div class="col-sm-12">
        <label asp-for="NomeCompleto" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.NomeCompleto == null)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5>@Model.NomeCompleto</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="DataNasc" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.DataNasc == null)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5>@Model.DataNasc.Date.ToShortDateString()</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="Genero" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">

                <h5> @Model.Genero</h5>
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="Nacionalidade" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
                <h5> @Model.Nacionalidade</h5>
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="MoradaRua" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.MoradaRua == null)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5> @Model.MoradaRua</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="MoradaCodigoPostal" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.MoradaCodigoPostal == null)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5> @Model.MoradaCodigoPostal</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="MoradaConcelho" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
                <h5>@Model.MoradaConcelho </h5>
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="MoradaDistrito" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
                <h5> @Model.MoradaDistrito</h5>
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="Email" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.Email == null)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5>@Model.Email</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="Nif" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.Nif == 0)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5>@Model.Nif</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="NumeroIdentificacao" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.NumeroIdentificacao == 0)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5>@Model.NumeroIdentificacao</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="Telefone" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            @if (@Model.Telefone == null)
            {
                <h5>Sem Informação</h5>
            }
            else
            {
                <h5>@Model.Telefone</h5>
            }
        </div>
    </div>
    <div class="col-sm-12">
        <label asp-for="Foto" class="col-sm-3 control-label"></label>
        <div class="col-sm-offset-4">
            <p>@Model.Foto</p>
        </div>
    </div>
</div>
<div class="jumbotron col-sm-3 col-sm-offset-1">
    <h5 class="text-center">Opcoes</h5>
    <a asp-area="" asp-controller="Candidato" asp-action="Perfil" class="btn btn-link btn-xs pull-right col-sm-12">Ver Perfil</a>
    <a asp-area="" asp-controller="Candidato" asp-action="EditarPerfil" class="btn btn-link btn-xs center-block col-sm-12">Editar Perfil</a>
</div>
