@model ProjectoEsw.Models.Candidatura_sprint2.Candidatura;


@section links {
    <a asp-area="" asp-controller="Candidato" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>
    <a asp-area="" asp-controller="Candidato" asp-action="perfil" class="btn btn-link btn-xs pull-right"> @Html.DisplayFor(model => model.Candidato.Email) </a>
}
@section Home {
    <a asp-area="" asp-controller="Candidato" asp-action="Index">Home</a>
}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Candidato" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Candidato" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Candidato" asp-action="SobreNos">Sobre Nós</a>
}
@if (@Model == null)
{
    <div class="jumbotron col-sm-7 col-sm-offset-1">
        <h3 class="center-block text-center">Sem Candidatura efetuada</h3>
    </div>
    <div class="jumbotron col-sm-3 col-sm-offset-1">
        <h5 class="text-center">Opcoes</h5>
        <a asp-area="" asp-controller="Candidato" asp-action="VisualizarCandidatura" class="btn btn-link btn-xs pull-right col-sm-12">Ver Candidatura</a>
        <a asp-area="" asp-controller="Candidato" asp-action="Perfil" class="btn btn-link btn-xs pull-right col-sm-12">Ver Perfil</a>
        <a asp-area="" asp-controller="Candidato" asp-action="EditarPerfil" class="btn btn-link btn-xs center-block col-sm-12">Editar Perfil</a>

    </div>
}
else
{
<div class="jumbotron col-sm-8">
    
    <div class="help-block"></div>
    <h2 class=" text-center" style="padding-bottom:5px;">Candidatura</h2>
    <div class="help-block"></div>

    <div>
        <label asp-for="Candidato.Perfil.NomeCompleto" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6 control-label">@Model.Candidato.Perfil.NomeCompleto</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.DataNasc" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.DataNasc.Date.ToShortDateString()</h5>

    </div>
    <div>
        <label asp-for="Candidato.Perfil.Genero" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6"> @Model.Candidato.Perfil.Genero</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.Nacionalidade" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.Nacionalidade</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.MoradaRua" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.MoradaRua</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.MoradaCodigoPostal" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6"> @Model.Candidato.Perfil.MoradaCodigoPostal</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.MoradaConcelho" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.MoradaConcelho </h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.MoradaDistrito" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.MoradaDistrito</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.Email" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.Email</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.Nif" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.Nif</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.NumeroIdentificacao" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.NumeroIdentificacao</h5>
    </div>
    <div>
        <label asp-for="Candidato.Perfil.Telefone" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Candidato.Perfil.Telefone</h5>
    </div>

    <div class="help-block"></div>
    <h3 class="text-center center-block" style="padding-bottom:10px; padding-top:10px;">Dados do Contacto em caso de emergencia</h3>
    <div class="help-block"></div>
    
    <div>
        <label asp-for="NomeEmergencia" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.NomeEmergencia</h5>
    </div>
    <div>
        <label asp-for="AfiliacaoEmergencia" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.AfiliacaoEmergencia</h5>
    </div>
    <div>
        <label asp-for="NumeroEmergencia" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.NumeroEmergencia</h5>
    </div>
    
    <div class="help-block"></div>
    <h3 class="text-center center-block" style="padding-bottom:10px; padding-top:10px;">Dados Candidatura</h3>
    <div class="help-block"></div>

    <div>
        <label asp-for="Escola" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Escola</h5>
    </div>
    <div>
        <label asp-for="CursoFrequentado" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.CursoFrequentado</h5>
    </div>
    <div>
        <label asp-for="AnoCurricular" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.AnoCurricular</h5>
    </div>
    <div>
        <label asp-for="Instituicoes" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">
            @foreach (var item in Model.Instituicoes)
            {
                @item.Instituicao.NomeInstituicao 
             },
            </h5>
</div>
    <div>
        <label asp-for="Bolsa" class="col-sm-6 control-label text-right"></label>
        @if (Model.Bolsa == true)
        {
            <h5 class="col-sm-offset-6">Sim</h5>
        }
        else
        {
            <h5 class="col-sm-offset-6">Não</h5>
        }
    </div>
    <div>
        <label asp-for="Estado" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.Estado</h5>
    </div>
    <div>
        <label asp-for="CartaMotivacao" class="col-sm-6 control-label text-right"></label>
        <h5 class="col-sm-offset-6">@Model.CartaMotivacao</h5>
        @if (Model.CartaMotivacao == null)
        {
            <h5 class="col-sm-offset-6">Sem carta</h5>
        }
        else
        {
            <h5 class="col-sm-offset-6">@Model.CartaMotivacao</h5>
        }
    </div>

    @if (@Model.Estado.ToString().Equals("INCOMPLETA"))
    {
        <a asp-area="" asp-controller="Candidato" asp-action="AlterarCandidatura" class="btn btn-default btn-xs center-block col-sm-12">Alterar Candidatura</a>
    }
</div>
<div class="jumbotron col-sm-3 col-sm-offset-1">
    <h5 class="text-center">Opcoes</h5>
    <a asp-area="" asp-controller="Candidato" asp-action="VisualizarCandidatura" class="btn btn-link btn-xs pull-right col-sm-12">Ver Candidatura</a>
    <a asp-area="" asp-controller="Candidato" asp-action="Perfil" class="btn btn-link btn-xs pull-right col-sm-12">Ver Perfil</a>
    <a asp-area="" asp-controller="Candidato" asp-action="EditarPerfil" class="btn btn-link btn-xs center-block col-sm-12">Alterar Dados</a>
</div>
}