<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectoEsw</title>
        
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/css/site.css" rel="stylesheet"/>
    
    
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
                @RenderSection("links", required: true)                
            </div>
            <div class="col-sm-2">
                <div class="sidebar-nav">
                    <img src="~/images/LogoIpsFinal.png" />
                    <div class="help-block"></div>
                    <div class="navbar" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="well text-center" role="button">
                            <a asp-area="" asp-controller="Candidato" asp-action="Index">Home</a>
                        </div>  
                        <div class="well text-center" role="button">
                            Programas Mobilidade
                        </div>
                        <div class="well text-center" role="button">
                            Bolsas
                        </div>
                        <div class="well text-center" role="button">
                            Sobre Nós
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="help-block"></div>
                @RenderBody()
                @RenderSection("Calendario", false)
            </div>
        </div>
    </div>
    

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; 2017 - ProjectoEsw</p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
