@model ProjectoEsw.Models.Candidatura_sprint2.Candidatura;

<!-- Tecnico Logout-->
@section links {
    <a asp-area="" asp-controller="Tecnico" asp-action="Logout" class="btn btn-link btn-xs pull-right">Log Out</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="perfil" class="btn btn-link btn-xs pull-right"> @Html.DisplayFor(model => model.Candidato.Email) </a>
}
@section Home {
    <a asp-area="" asp-controller="Tecnico" asp-action="Index">Home</a>
}
@section ProgramasMobilidade{
    <a asp-area="" asp-controller="Tecnico" asp-action="ProgramasMobilidade">Programas Mobilidade</a>
}
@section Bolsas{
    <a asp-area="" asp-controller="Tecnico" asp-action="Bolsas">Bolsas</a>
}
@section SobreNos{
    <a asp-area="" asp-controller="Tecnico" asp-action="SobreNos">Sobre Nós</a>
}
<div class="jumbotron col-sm-8">
    <div class="form-group">
        <h2 class=" text-center">Candidatura Submetida</h2>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.NomeCompleto" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Candidato.Perfil.NomeCompleto</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.DataNasc" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Candidato.Perfil.DataNasc</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.Email" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5> @Model.Candidato.Perfil.Email</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.Nif" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5> @Model.Candidato.Perfil.Nif</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.NumeroIdentificacao" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5> @Model.Candidato.Perfil.NumeroIdentificacao</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.MoradaRua" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5> @Model.Candidato.Perfil.MoradaRua</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.MoradaCodigoPostal" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Candidato.Perfil.MoradaCodigoPostal </h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.Nacionalidade" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5> @Model.Candidato.Perfil.Nacionalidade</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.MoradaConcelho" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Candidato.Perfil.MoradaConcelho</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.MoradaDistrito" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Candidato.Perfil.MoradaDistrito</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Candidato.Perfil.Telefone" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Candidato.Perfil.Telefone</h5>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h4>Dados do Contacto em caso de emergencia</h4>

        <div class="col-sm-12">
            <label asp-for="NomeEmergencia" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.NomeEmergencia</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="AfiliacaoEmergencia" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.AfiliacaoEmergencia</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="NumeroEmergencia" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.NumeroEmergencia</h5>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h4>Dados Candidatura</h4>
        <div class="col-sm-12">
            <label asp-for="Escola" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.Escola</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="CursoFrequentado" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.CursoFrequentado</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="AnoCurricular" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5>@Model.AnoCurricular</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Instituicoes" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <h5></h5>
            </div>
        </div>
        <div class="col-sm-12">
            <label asp-for="Bolsa" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                @if (Model.Bolsa == true)
            {
                    <h5>Sim</h5>
                }
                else
                {
                    <h5>Não</h5>
                }
            </div>
        </div>

        <div class="col-sm-8">
            <label asp-for="CartaMotivacao" class="col-sm-3 control-label"></label>
            <div class="col-sm-offset-4">
                <p>@Model.CartaMotivacao</p>
            </div>
        </div>
    </div>
    <a asp-area="" asp-controller="Tecnico" asp-action="RejeitarCandidatura" class="btn btn-default btn-xs center-block col-sm-12">Rejeitar</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="PedirAlteracaoCandidatura" class="btn btn-default btn-xs center-block col-sm-12">Incompleta</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="AprovarCandidatura" class="btn btn-default btn-xs center-block col-sm-12">Aceitar</a>
</div>
<div class="jumbotron col-sm-3 col-sm-offset-1">
    <h5 class="text-center">Opcoes</h5>
    <!--<a asp-area="" asp-controller="Tecnico" asp-action="Perfil" class="btn btn-link btn-xs pull-right col-sm-12">Ver Perfil</a>
    <a asp-area="" asp-controller="Tecnico" asp-action="Perfil" class="btn btn-link btn-xs center-block col-sm-12">Editar Perfil</a>-->
    <a asp-area="" asp-controller="Tecnico" asp-action="ListaCandidaturas" class="btn btn-link btn-xs pull-right col-sm-12">Lista Candidaturas</a>
</div>
